.card
{
    margin-top: 25px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: #292824;
}

p
{
    color: white;
    font-family: roboto slab;
    margin-top: 0px;
}

a
{
    text-decoration: none;
}

.card img
{
    width: 90%;
    margin: auto;
}

.col :hover
{
    background: #4a4843;
}

body
{
    background-color:#171816 ;
}